html {
  font-size: 62.5%;
}

.h2 {
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.main-wrapper {
  display: flex;
  justify-content: space-around;
}
